body
{
    margin-top: 20px;
   margin-left: 650px;
}
.ph
{
    display: inline-block;
    border:solid  black;
    border-radius:7px;
    width:30%;
    //margin-left:700px;
    box-shadow: black;
}
.list
{
    display: block;
    //margin-left:700px;
    line-height:40px;
}
.bt
{
    display: inline-block;
    border:solid  black;
    border-radius:7px;
    box-shadow: black;
}
